html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}
body{
    font-family: 'Dosis', sans-serif;
    margin: 0;
    background-color: #f3f1f7;
}
.border {
    border: 1px solid black;
    border-radius: 5px;
}
#title {
    font-family: 'Homemade Apple', cursive;
    font-size: 25px;
    text-align: center;
    color: rgb(3, 169, 244);
}
#new-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}
button {
    cursor: pointer;
    background-color: white;
    padding: 10px;
}
form {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #B1DDEA;
    border-radius: 5px;
    height: 400px;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
}
label {
    margin: 10px 0;
    font-weight: 600;
}
input {
    padding: 10px;
    width: 100%;
}
textarea {
    width: 100%;
    height: 50%;
}
#add-btn {
    width: 100%;
    margin-top: 20px;
}
.post-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 60%;
    margin-top: 20px;
    padding: 30px 60px;
}
.post {
    border-bottom: 1px solid #f3f1f7;
}
.post-subject {
    font-weight: 600;
    font-size: 20px;
}