body{
    font-family: 'Dosis', sans-serif;
    margin: 0;
    background-color: #f3f1f7;
}
#title {
    font-family: 'Homemade Apple', cursive;
    font-size: 25px;
    text-align: center;
    color: rgb(3, 169, 244);
}
post-form {
    background-color: #B1DDEA;
}